{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}Blog{% endblock %}

{%block content%}
{% if request.user.is_staff %}
<a href="{% url 'admin:blog_blogentry_add' %}" target="_blank" class="btn btn-dark">
	Add Entry
	<i class="fa fa-w fa-plus"></i>
</a>
<hr>
{% endif %}
	
{% for entry in object_list %}
<div class="card w-100" style="margin-bottom: 2rem">
	<div class="card-header">
		<strong>{{ entry.title }}</strong>
	</div>
		<div class="card-body">
		<p class="card-text">{{ entry.entry|markdown|truncatewords:60 }}</p>
			
		</div>
		<div class="card-footer text-muted">
			<a href="{% url 'blog:blog_detail' pk=entry.pk %}" class="btn btn-dark">
    		Read More
    		<i class="fa fa-w fa-arrow-right"></i>
		</a>
		<a href="#" class="btn btn-dark">
    		Comment
    		<i class="fa fa-w fa-comments"></i>
		</a>
		{% if request.user.is_staff %}
		<a href="{% url 'admin:blog_blogentry_change' entry.pk %}" target="_blank" class="btn btn-dark float-right">
    		Edit Page
    		<i class="fa fa-w fa-pencil-square-o"></i>
		</a>
		{% endif %}
		</div>
</div>
{% endfor %}
	
{% endblock %}