{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{%block content%}
	
<div class="row">
	{% for object in object_list %}
	<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
		<div class="card h-100">
			<div class="card-header">
				<strong>{{object.title}}</strong>
			</div>
			<div class="card-body">
				<p class="card-text">{{object.read_me}}</p>
			</div>
			<div class="card-footer text-muted">
				<a href="{{object.url}}" target='_' class="btn btn-dark">
					<i class="fa fa-w fa-github"></i>
					GitHub
				</a>
				{{object.last_update.date}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}