{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{%block content%}
	
	<div>
	{% with ''|center:15 as range %}
	{% for _ in range %}
	{% if forloop.counter0|divisibleby:"3" %}
	</div>
	<div class="card-deck" style="padding-bottom: 2rem">
	{% endif %}
		<div class="card">
			<div class="card-header">
				<strong>{% lorem 1 w random%}</strong>
			</div>
	  		<div class="card-body">
	    		<p class="card-text">{% lorem 20 w random%}</p>
	  		</div>
	  		<div class="card-footer text-muted">
	  			<a href="#" class="btn btn-dark">
	    			<i class="fa fa-w fa-github"></i>
	    		GitHub
	    		</a>
	    		2 Days Ago
	  		</div>
		</div>
	{% endfor %}
	{% endwith %}
	
{% endblock %}